
body{
  background-color: #fff;
  color: #fff;
  font-family: 'Arial',
}

div{
  display: inline;
}

a:link, a:hover, a:visited, a:active {
    color: white;
    text-decoration: none;
}

.container{
  position:absolute;
  width:100%;
  display: flex;
  margin-top: 0%;
  z-index: 10000;
}

.info{
  font-family: Arial;
  position:absolute;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0px;
  width: 100%;

  position: absolute;
  left: 0%;
}

.info .company{
    display: inline;
    width: 10%;
    font-size: 1em;
}

.info .title{
    display: inline;
    font-size: 1em;
    font-family: 'Poiret One', cursive;
}


.info .instructions{
    display: inline;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0px;
    margin: 0px 0 0 0;
    font-size: .7em;
}

@media (max-width: 600px) {
    .info {
      width: 100%
    }

    .info .company{
        font-size: 1em;
    }

    .info .title{
      font-size: 1em;
    }

}
